img {
    width: 500px;
    height: 400px;
}

.post {
    background-color: gray;
    border: 3px solid red;
}

.post:hover {
    background-color: pink;
}

.bold-text {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: flex-end;
}